<%= form_with(model: post, remote: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group new-post-field">
    <span class="input-group-addon" id="basic-addon1">Caption</span>
    <%= form.text_field :caption, class: "form-control" %>
  </div>

  <div class="input-group new-post-field">
    <span class="input-group-addon" id="basic-addon1">Content</span>
    <%= form.text_area :content, class: "form-control", id: "content-form" %>
  </div>

  <div>
    <%= form.text_field :category_id, class: "form-control hidden", id: "content-form" %>
  </div>

  <div class="new-post-field">
    <span class="input-group-addon" id="basic-addon1">Choose File</span>
    <%= form.file_field :image, accept: "image/png,image/gif,image/jpeg", class: "form-control" %>
  </div>

  <div class="category-list">
    <%= link_to "#", method: :post, class: "btn btn-success none-btn category-btn", remote: true do %>
        None
    <% end %>
    <% current_user.categories.each do |c| %>
      <%= link_to "#", method: :post, class: "btn btn-success category-btn", id: c.id, remote: true do %>
        <%= c.name %>
      <% end %>
    <% end %> 
  </div>

  <div class="actions">
    <%= form.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>

<style>
  .new-post-field {
    margin-bottom: 12px;
  }
  .category-list {
    margin-bottom: 10px;
  }
  .category-btn {
    background-color: grey;
    border-color: grey;
    color: white;
  }
  .none-btn {
    background-color: #5cb85c;
    border-color: #5cb85c;
    color: white;
  }
  textarea {
    /* margin:0px 0px; this is redundant anyways since its specified below*/
    padding-top:10px;
    padding-bottom:25px; /* increased! */
    /* height:16px; */
    /* line-height:16px; */
    width:100%; /* changed from 96 to 100% */
    display:block;
    /* margin:0px auto; not needed since i have width 100% now */
  }
</style>



<script>
  function expandTextarea() {
      document.getElementById('content-form').addEventListener('keyup', function() {
          this.style.overflow = 'hidden';
          this.style.height = 0;
          this.style.height = this.scrollHeight + 'px';
      }, false);
  }
  expandTextarea();
  $('.category-btn').click(function() {
    $(this).css("background-color", '#5cb85c');
    $(this).css("border-color", '#5cb85c');
    $(this).css("color", 'white');
    $(this).siblings().css("background-color", 'grey');
    $(this).siblings().css("border-color", 'grey');
    $('input[name="post[category_id]"]').val($(this).attr('id'));
  });
</script>