<ol class="breadcrumb">
  <li><a>Platform</a></li>
  <li class="active">Posts</li>
  <% if request.query_parameters.present? %>
    <li class="active">Search results</li>
  <% end %>
</ol>

<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>">
      <%= value %>
  </div>
<% end %>

<div class="row search-banner">
  <div class="col-lg-5 ">
    <%= form_with url: "/posts", method: 'get', local: true do |form| %>
      <div class="input-group">
        <%= form.text_field :query, class: "form-control", placeholder: "Search for..." %>
        <span class="input-group-btn">
          <%= form.button :submit, class: "btn btn-default"%>
        </span>
      </div>
    <% end %>
  </div>
</div>

<% if @posts.count == 0 %>
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">No Post Can be Found, Sorry...</h3>
    </div>
    <div class="panel-body">
      <p>Based on your query, there's no related post in our system.</p>
    </div>
  </div>
<% else %>
  <% @posts.each do |post| %>
    <div class="panel <%= cycle('panel-info', 'panel-success', 'panel-warning', 'panel-danger') -%> ">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= post.caption %>
          <% if post.category.present? %>
            <%= link_to posts_path(category: post.category.id) do %>
              <span class="label label-danger category-label">
                <%= post.category.name %>
              </span>
            <% end %>
          <% end %>
        </h3>
      </div>
      <div class="panel-body">
        <p><%= post.content.lines.first %></p>
        <br>
        <%= link_to 'Show', post, class: "btn btn-info" %>
        <% if user_signed_in? %>
          <% if post.user == current_user %>
            <%= link_to 'Edit', edit_post_path(post), class: "btn btn-success" %>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure you want to delete?' }, class: "btn btn-danger"%>
          <% end %>
          <%= link_to 'Follow User', follow_path(post.user_id), class: "btn btn-warning", method: :patch%>
        <% end %>
        <%= link_to 'Add to Dashboard', add_path(post), method: :patch, class: "btn btn-success" %>
      </div>
    </div>
  <% end %>
<% end %>
<%= link_to 'New Post', new_post_path, class: "btn btn-primary" %>

<style>
.search-banner {
    margin-bottom: 13px
}
</style>