<% @posts.each do |post| %>
  <div class="panel <%= cycle('panel-success', 'panel-info', 'panel-warning', 'panel-danger') -%>">
    <div class="panel-heading">
      <h3 class="panel-title"><%= post.caption %></h3>
    </div>
    <div class="panel-body">
      <%= post.content %>
      <br>
      <%= link_to 'Show', post %>
      <%= link_to 'Edit', edit_post_path(post) %>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
<% end %>

<%= link_to 'New Post', new_post_path, class: "btn btn-primary" %>