<ol class="breadcrumb">
  <li><a>Platform</a></li>
  <li><%= link_to 'Posts', root_path %></li>
  <li class="active">No.<%= @post.id %></li>
</ol>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @post.caption %></h3>
  </div>
  <div class="panel-body">
    <% @post.content.lines.each do |line| %>
      <p><%= line %></p>
    <% end %>

    <% if not @post.image.attachment.nil? %>
      <%= image_tag @post.image, style: 'max-width: 500px' %>
    <% end %>
    <h2> <%= @post.category %> </h2>
    <br>

    <% if @post.user == current_user %>
      <%= link_to 'Edit', edit_post_path(@post) %> |
    <% end %>
    <%= link_to 'Back', posts_path %>
  </div>
</div>