<ol class="breadcrumb">
  <li><a>Platform</a></li>
  <li class="active">Categories</li>
  <% request.query_parameters.each do |key, value| %>
    <li class="active"><%= key %> => <%= value %></li>
  <% end %>
</ol>

<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>">
      <%= value %>
  </div>
<% end %>

<% @categories.each do |category| %>
    <%= link_to posts_path(category: category.id) do %>
      <span class="label <%= cycle('label-success', 'label-info', 'label-warning', 'label-danger') -%> category-label">
        <%= category.name %>
      </span>
    <% end %>
<% end %>

<style>
.category-label {
  margin-left: 2px;
  margin-right: 2px;
}
</style>