<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'All Posts', root_path, class: "navbar-brand"%>
      <% if user_signed_in? %>
        <a class="navbar-brand" href=".../dashboard.html.erb">
          <%= current_user.name %>
        </a>
        <%= link_to 'Log out', destroy_user_session_path, class: "btn btn-primary", method: :delete %>
      <% else %>
        <%= link_to 'Sign in', new_user_session_path, class: "btn btn-primary" %>
      <% end %>
      <%= link_to 'All Users', all_users_path, class: "navbar-brand" %>
    </div>
  </div>
</nav>

<style>
.navbar-default {
  background-color: #e74c3c;
  border-color: #E7E7E7;
}
.navbar-default .navbar-brand {
  color: white;
}
</style>